<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440418441259-egieuajl757tjgq701glj4gseevvra9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440418441259-egieuajl757tjgq701glj4gseevvra9n</string>
	<key>API_KEY</key>
	<string>AIzaSyCyqSJhz5Kswir0_ks4eMDbPSPkSlD6bPM</string>
	<key>GCM_SENDER_ID</key>
	<string>440418441259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khg-final</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-3c69e</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-3c69e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440418441259:ios:e8a3ad49528cae88f1f26e</string>
</dict>
</plist>
